/.idea/
.pytest_cache
/venv/
*.log
/target/
/.settings/
/bin/
#another files
.classpath
.project
.settings
.idea
#filter databfile、sln file
*.mdb
*.ldb
*.sln
#class file
*.com
*.class
*.dll
*.exe
*.o
*.so